



 @include media-query($on-laptop) {

/**
 * Site header
 */


.site-header {

    
  

  .wrapper {
    width: 80%;
    padding-top: 10px;
  }
}
/* End Site Header */

#branding {
      width: 25%;
      position: fixed;
      top: -10px;
      z-index: 99;
      left: 121px;

  h1 {
  font-size: 15em;
}

}


.brand {
  top: 30px;
}


.site-nav {
      justify-content: flex-end;
    }


/** Home **/

.home {

  section {
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  #featured-posts {

     /*height: auto;*/
     margin-top: 0;
     align-items: start;

    :nth-child(2n){
      height: 600px;
      position: relative;
    }


    }


    .bttm {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
  }

  .top {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);

  }

  .post .item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  



  #home-content {
    padding-top: 115px;
  }

  #intro {
    height: 55vh;


    .about {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 80%;
    left: 50%;
    transform: translateX(-50%);

    }

    h1 {

    font-size: 3em;
    text-align: left;

    }

  }

}

.twenty {
    width: 20%;
  }

   .twenty-five {
    width: 25%;
  }


  .thirty {
    width: 30%;
  }

  .forty {
    width: 40%;
  }

  .fifty {
    width: 50%;
  }

  .seventy {
    width: 70%;
  }



.jumbo {
  font-size: 8em;
}


.slick-slider:hover {
  cursor: grab;
}




.page-content {
height: 100vh;

    
}




.close h1 {
  font-size: 5em;

}

.info {
  h1.e-info {
    font-size: 3em;
  }
}


.projects {


  .page-content {

    .wrapper {
    padding-top: 215px;
    }
  }
}

video {
      position: absolute;

}

.project-description {
  margin-top: 2em;
}


} /** End Media Query **/