<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="fade-in">

   <!-- {% include header.html %} -->

    <a href="javascript:history.back()">close</a>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
          <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

        {{ content }}
      </div>
    </main>

     {% include project-footer.html %}  

  </body>

</html>
